.item {
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: #f3cd9e;
    border-radius: 40px;
    box-shadow: -3px 3px 10px 0px #00000096;
}
.item-ingredient {
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: #f3cd9e;
    border-radius: 40px;
    box-shadow: -3px 3px 10px 0px #00000096;
}
.item-recipe {
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: #f3cd9e;
    border-radius: 40px;
    box-shadow: -3px 3px 10px 0px #00000096;
}


.img-item img {
    width: 100%;
    border-radius: 40px;
}

.body-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
    justify-content: space-between;
}

.actions-items svg {
    padding-right: 20px;
    cursor: pointer;
}